.cuerpo{
    margin-left: 30px;
}
.botonClick{
    width: 100px;
    height: 55px;
    background-color: rgb(101, 101, 247);
    color: white;
    box-shadow: 8px 5px 5px black;
    border: 0cm;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    font-style:italic;
    font-size: medium;
    margin-bottom: 20px;
}
.morado{
    width: 100px;
    height: 55px;
    background-color:rgb(169, 95, 239);
    color: white;
    box-shadow: 8px 5px 5px black;
    border: 0cm;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    font-style:italic;
    font-size: medium;
    margin-bottom: 20px;
}

#Resultado{
    margin-top: 50px;
}